// _base.sass — contains all the resets, variables, mixins, and utility classes

//Resets
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    a {
        text-decoration: none;
        color: black;
    }
}


//Smooth scroll
html {
    scroll-behavior: smooth;
  }