// _components.sass — everything that is reusable – buttons, navbars, cards, and so on


//----------------------------Navigation


//NavBar
.navBar {
    overflow: hidden;
    position: fixed;
    width: 100%;

    ul {
        float: right;
        overflow: hidden;
        li {
            display: inline;
            float: left;
            a {
                display: block;
                padding: $navPadding;
                text-align: center;
            };
            &:hover {
                background-color: palegoldenrod;
                };
        };
    };
};


//NavList for Mobile
// Src: https://www.w3schools.com/css/css_navbar_vertical.asp
.navList {
    position: fixed;
    right: 0;
    top:0;
    ul {
        width: 200px;
        //background-color: #f1f1f1;
      }
    li a {
        display: block;
        padding: 8px 16px;
        &:hover {
            background-color: aqua;
        }
      }
};

.nav-burger {
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(191, 159, 159);
    min-width: 40px;
    min-height: 40px;
}


// 

//Transitions
.appear {
    transition-timing-function: ease-out;
    transition: 0.2s;
    transform: translateY(0);
}

.disappear {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: translateY(-130%);
}

.hidden {visibility: hidden;}
.seen {visibility: visible;}





//-----------Graveyard---------------//


//NavBurger
// @keyframes animateBurgerOpen {
//     from { transform: translateY(0px);}
//     to {transform: translateY(10px);}
// }
// @keyframes animateBurgerOpenNeg {
//     from { transform: translateY(0px);}
//     to {transform: translateY(-10px);}
// }


// .burger-open-animation {
//     &::before {
//         animation-name: animateBurgerOpen;
//         animation-duration: 1s;
//         animation-direction: reverse;
//     }
//     &::after {
//         animation-name: animateBurgerOpenNeg;
//         animation-duration: 1s;
//         animation-direction: reverse;
//     }
// }


//Animationen Burger-Close
// @keyframes animateBurgerClose {
//     from {transform: rotate(0deg);}
//     to {transform: rotate(45deg);}
// }
// @keyframes animateBurgerCloseNeg {
//     from {transform: rotate(0deg);}
//     to {transform: rotate(-90deg);}
// }


// animation-name: animateBurgerCloseNeg;
// animation-duration: 1s;


//Burger Balken-Mixin
// @mixin burgerBar {
//     width: auto;
//     height: 4px;
//     background: black;
// }

// //Var

// //Burger-Icon
// .nav-burger {
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     background: rgb(191, 159, 159);
//     min-width: 30px;
//     min-height: 30px;
//     visibility: visible; 
//     @media (min-width: $media-breakpoint) {
//         visibility: hidden;
//     }
// }

// //Burger-Open
// .burger-open {
//     width: auto;
//     height: 4px;
//     background: black;
//     transform: translateY(20px);
//     &::before {
//         content: '';
        
//         height: 4px;
//         background: black;
//         top: 10px;
//         width: 28px;
//     }
// }


// //Burger-Close
// .burger-close {
//     @include burgerBar();
//     transform: rotate(45deg);
//     &::before {
//         content: '';
//         @include burgerBar();
//         transform: rotate(90deg);

//     }
// }


