//Sources: 
// grid https://css-tricks.com/snippets/css/complete-guide-grid/
// media-q https://css-tricks.com/approaches-media-queries-sass/
// nav  https://www.w3schools.com/css/css_navbar_horizontal.asp

// _layout.sass — all the Sass code handling the layout, which is the container and grid systems

//DELETE BEFORE DEPLOY
.grid-item {
    border: 2px;
    border-style: solid;
    min-height: 100vh;
}
nav {
    background-color: grey;
}

//----------------------------Layout Variable (move to base.scss)
//Var: Grid
$grid-start: 2 ;
$grid-end: 3 ;
$grid-start-mob: 1 ;
$grid-end-mob: 4 ;
$grid-start-footer: 1 ;
$grid-end-footer: 4 ;

//Var: Media
$media-breakpoint: 768px;

$footer-height: 20px;


//----------------------------Grid-Layout
.grid-container {
    display: grid;
    grid-template-columns: 3fr 6fr  3fr ;
    > div:first-of-type {padding-top: $navPadding+50px;}
    // grid-template-rows:;
}

.grid-item {
    grid-column-start: $grid-start-mob;
    grid-column-end: $grid-end-mob ;
    @media (min-width: $media-breakpoint) {
        grid-column-start: $grid-start;
        grid-column-end: $grid-end ;
    }
}

.grid-footer {
    grid-column-start: $grid-start-footer;
    grid-column-end: $grid-end-footer ;
    height: $footer-height;
}

//----------------------------Footer
